---
layout: page
title: 2019 Season
year: 2019
permalink: seasons/2019
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="../../assets/jscripts/lazyload.js"></script>
<head>
    <link href="../../assets/stylesheets/pages.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/jscripts/standings_sleeper.js"></script>
</head>

<body>
    <h1>Season Standings</h1>
    <table class="sortable" id="standings_table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Record</th>
                <th>Points For</th>
                <th>Points Against</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The Dukes of Hazzard</td>
                <td sorttable_customkey="1">10-3</td>
                <td>1572</td>
                <td>1306</td>
            </tr>
            <tr>
                <td>Ezekiel 25:17</td>
                <td sorttable_customkey="2">9-4</td>
                <td>1536</td>
                <td>1255</td>
            </tr>
            <tr>
                <td>Calgary Cannons</td>
                <td sorttable_customkey="3">9-4</td>
                <td>1461</td>
                <td>1421</td>
            </tr>
            <tr>
                <td>Goreba Chubb</td>
                <td sorttable_customkey="4">8-5</td>
                <td>1413</td>
                <td>1337</td>
            </tr>
            <tr>
                <td>Naples City Thunder Cats</td>
                <td sorttable_customkey="5">7-6</td>
                <td>1387</td>
                <td>1417</td>
            </tr>
            <tr>
                <td>This Machine Runs on W's</td>
                <td sorttable_customkey="6">6-7</td>
                <td>1391</td>
                <td>1442</td>
            </tr>
            <tr>
                <td>Cold Feet</td>
                <td sorttable_customkey="7">6-7</td>
                <td>1367</td>
                <td>1456</td>
            </tr>
            <tr>
                <td>BMS Goats</td>
                <td sorttable_customkey="8">4-9</td>
                <td>1362</td>
                <td>1481</td>
            </tr>
            <tr>
                <td>The LockettShip Armada</td>
                <td sorttable_customkey="9">4-9</td>
                <td>1352</td>
                <td>1538</td>
            </tr>
            <tr>
                <td>Always Sony In Philadelphia</td>
                <td sorttable_customkey="10">2-11</td>
                <td>1346</td>
                <td>1535</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Draft Recap</h1>
    <img class="draftimg" src="../../assets/photos/2019_draft.png" />

    <hr>

    <h1>Keepers</h1>
    <table class="championship">
        <tbody>
            <tr>
                <th colspan="2">BMS Goats</th>
                <th colspan="2">Ezekiel 25:17</th>
                <th colspan="2">Calgary Cannons</th>
                <th colspan="2">Goreba Chubb</th>
                <th colspan="2">Naples City Thunder Cats</th>
            </tr>
            <tr>
                <td>Alvin Kamara (1st)</td>
                <td>Kerryon Johnson (5th)</td>
                <td>Ezekiel Elliott (1st)</td>
                <td>Travis Kelce (3rd)</td>
                <td>Todd Gurley (3rd)</td>
                <td>Kenny Golladay (7th)</td>
                <td>Nic Chubb (9th)</td>
                <td>Patrick Mahommes (10th)</td>
                <td>DeAndre Hopkins (1st)</td>
                <td>James Connor (14th)</td>
            </tr>
            <tr>
                <th colspan="2">This Machine Runs on W's</th>
                <th colspan="2">Cold Feet</th>
                <th colspan="2">Always Sony In Philadelphia</th>
                <th colspan="2">The LockettShip Armada</th>
                <th colspan="2">The Dukes of Hazzard</th>
            </tr>
            <tr>
                <td>Chris Carson (5th)</td>
                <td>Chris Godwin (13th)</td>
                <td>Marlon Mack (8th)</td>
                <td>Calvin Ridley (13th)</td>
                <td>David Johnson (1st)</td>
                <td>Julian Edelman (9th)</td>
                <td>JuJu Smith-Schuster (4th)</td>
                <td>Aaron Jones (10th)</td>
                <td>Christian McCaffrey (1st)</td>
                <td>Derrius Guice Was (13th)</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Playoff Recap</h1>
    <p>
        What turned out to be a pretty low scoring game, Nic manages to hold out the victory with a big
        game by Drake while Stefan's team let him down. Particularily Kirk Cousins, who scored under 7 points.
        Nic wins his 4th champtionship in 8 years by 7.42 points. Final score <b>102.00 - 94.58</b>
    </p>

    <h1>Championship Games</h1>
    <table class="championship">
        <tbody>
            <tr>
                <th colspan="4">Finals</th>
            </tr>
            <tr>
                <td>Ezekiel 25:17</td>
                <td><b>102.00</b></td>
                <td><b>94.58</b></td>
                <td>The Dukes of Hazzard</td>
            </tr>
            <tr>
                <th colspan="4">Third Place</th>
            </tr>
            <tr>
                <td>This Machine Runs on W's</td>
                <td><b>113.72</b></td>
                <td><b>91.42</b></td>
                <td>Naples City Thunder Cats</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>2019 Posts</h2>
    {% for post in site.posts %}
    {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if post_year == "2019" %}
    <ul>
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    </ul>
    {% endif %}
    {% endfor %}
</body>
</html>
