---
layout: page
title: 2019 Season
year: 2019
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="../../assets/jscripts/lazyload.js"></script>
<head>
    <link href="../../assets/stylesheets/pages.css" rel="stylesheet">
</head>

<body>
    <h1>Season Standings</h1>
    <table class="tg">
        <thead>
            <tr>
                <th class="tg-wc04">Team</th>
                <th class="tg-wc04">Record</th>
                <th class="tg-wc04">Points For</th>
                <th class="tg-wc04">Points Against</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-gmla">The Dukes of Hazzard</td>
                <td class="tg-gmla">10-3</td>
                <td class="tg-gmla">1572</td>
                <td class="tg-gmla">1306</td>
            </tr>
            <tr>
                <td class="tg-gmla">Ezekiel 25:17</td>
                <td class="tg-gmla">9-4</td>
                <td class="tg-gmla">1536</td>
                <td class="tg-gmla">1255</td>
            </tr>
            <tr>
                <td class="tg-gmla">Calgary Cannons</td>
                <td class="tg-gmla">9-4</td>
                <td class="tg-gmla">1461</td>
                <td class="tg-gmla">1421</td>
            </tr>
            <tr>
                <td class="tg-gmla">GorebaChubb</td>
                <td class="tg-gmla">8-5</td>
                <td class="tg-gmla">1413</td>
                <td class="tg-gmla">1337</td>
            </tr>
            <tr>
                <td class="tg-gmla">Naples City Thunder Cats</td>
                <td class="tg-gmla">7-6</td>
                <td class="tg-gmla">1387</td>
                <td class="tg-gmla">1417</td>
            </tr>
            <tr>
                <td class="tg-gmla">This Machine Runs on W's</td>
                <td class="tg-gmla">6-7</td>
                <td class="tg-gmla">1391</td>
                <td class="tg-gmla">1442</td>
            </tr>
            <tr>
                <td class="tg-gmla">Cold Feet</td>
                <td class="tg-gmla">6-7</td>
                <td class="tg-gmla">1367</td>
                <td class="tg-gmla">1456</td>
            </tr>
            <tr>
                <td class="tg-gmla">BMS Goats</td>
                <td class="tg-gmla">4-9</td>
                <td class="tg-gmla">1362</td>
                <td class="tg-gmla">1481</td>
            </tr>
            <tr>
                <td class="tg-gmla">The LockettShip Armada</td>
                <td class="tg-gmla">4-9</td>
                <td class="tg-gmla">1352</td>
                <td class="tg-gmla">1538</td>
            </tr>
            <tr>
                <td class="tg-gmla">AlwaysSonyInPhiladelphia</td>
                <td class="tg-gmla">2-11</td>
                <td class="tg-gmla">1346</td>
                <td class="tg-gmla">1535</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Draft Recap</h1>
    <img class="draftimg" src="../../assets/photos/2019_draft.png" />

    <hr>

    <h1>Keepers</h1>
    <table class="tg" style="table-layout: fixed">
        <tbody>
            <tr>
                <th class="tg-wc05" colspan="2">BMS Goats</th>
                <th class="tg-wc05" colspan="2">Ezekiel 25:17</th>
                <th class="tg-wc05" colspan="2">Calgary Cannons</th>
                <th class="tg-wc05" colspan="2">GorebaChubb</th>
                <th class="tg-wc05" colspan="2">Naples City Thunder Cats</th>
            </tr>
            <tr>
                <td class="tg-gmla2">Alvin Kamara (1st)</td>
                <td class="tg-gmla2">Kerryon Johnson (5th)</td>
                <td class="tg-gmla2">Ezekiel Elliott (1st)</td>
                <td class="tg-gmla2">Travis Kelce (3rd)</td>
                <td class="tg-gmla2">Todd Gurley (3rd)</td>
                <td class="tg-gmla2">Kenny Golladay (7th)</td>
                <td class="tg-gmla2">Nic Chubb (9th)</td>
                <td class="tg-gmla2">Patrick Mahommes (10th)</td>
                <td class="tg-gmla2">DeAndre Hopkins (1st)</td>
                <td class="tg-gmla2">James Connor (14th)</td>
            </tr>
            <tr>
                <th class="tg-wc05" colspan="2">This Machine Runs on W's</th>
                <th class="tg-wc05" colspan="2">Cold Feet</th>
                <th class="tg-wc05" colspan="2">AlwaysSonyInPhiladelphia</th>
                <th class="tg-wc05" colspan="2">The LockettShip Armada</th>
                <th class="tg-wc05" colspan="2">The Dukes of Hazzard</th>
            </tr>
            <tr>
                <td class="tg-gmla2">Chris Carson (5th)</td>
                <td class="tg-gmla2">Chris Godwin (13th)</td>
                <td class="tg-gmla2">Marlon Mack (8th)</td>
                <td class="tg-gmla2">Calvin Ridley (13th)</td>
                <td class="tg-gmla2">David Johnson (1st)</td>
                <td class="tg-gmla2">Julian Edelman (9th)</td>
                <td class="tg-gmla2">JuJu Smith-Schuster (4th)</td>
                <td class="tg-gmla2">Aaron Jones (10th)</td>
                <td class="tg-gmla2">Christian McCaffrey (1st)</td>
                <td class="tg-gmla2">Derrius Guice Was (13th)</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Playoff Recap</h1>
    <p>
        What turned out to be a pretty low scoring game, Nic manages to hold out the victory with a big
        game by Drake while Stefan's team let him down. Particularily Kirk Cousins, who scored under 7 points.
        Nic wins his 4th champtionship in 8 years by 7.42 points. Final score <b>102.00 - 94.58</b>
    </p>

    <h1>Championship Games</h1>
    <table class="tg" style="table-layout: fixed">
        <tbody>
            <tr>
                <th class="tg-wc04" colspan="4">Finals</th>
            </tr>
            <tr>
                <td class="tg-gmla">Ezekiel 25:17</td>
                <td class="tg-gmla"><b>102.00</b></td>
                <td class="tg-gmla">The Dukes of Hazzard</td>
                <td class="tg-gmla"><b>94.58</b></td>
            </tr>
            <tr>
                <th class="tg-wc04" colspan="4">Third Place</th>
            </tr>
            <tr>
                <td class="tg-gmla">This Machine Runs on W's</td>
                <td class="tg-gmla"><b>113.72</b></td>
                <td class="tg-gmla">Naples City Thunder Cats</td>
                <td class="tg-gmla"><b>91.42</b></td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>2019 Posts</h2>
    {% for post in site.posts %}
    {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if post_year == "2019" %}
    <ul>
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    </ul>
    {% endif %}
    {% endfor %}
</body>
</html>
