---
layout: page
title: 2020 Season
year: 2020
permalink: seasons/2020
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="../../assets/jscripts/lazyload.js"></script>
<head>
    <link href="../../assets/stylesheets/pages.css" rel="stylesheet">
</head>

<body>
    <h1>Season Standings</h1>
    <table class="sortable" id="standings_table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Record</th>
                <th>Points For</th>
                <th>Points Against</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ZaneChurchill</td>
                <td>9-4</td>
                <td>1601</td>
                <td>1504</td>
            </tr>
            <tr>
                <td>Double Chubble</td>
                <td>9-4</td>
                <td>1513</td>
                <td>1464</td>
            </tr>
            <tr>
                <td>Henry’s Bag of Tunyuns</td>
                <td>8-5</td>
                <td>1663</td>
                <td>1427</td>
            </tr>
            <tr>
                <td>There’sADrakeInMyBoot</td>
                <td>7-6</td>
                <td>1683</td>
                <td>1725</td>
            </tr>
            <tr>
                <td>Calgary Cannons</td>
                <td>7-6</td>
                <td>1624</td>
                <td>1486</td>
            </tr>
            <tr>
                <td>You Christian?</td>
                <td>7-6</td>
                <td>1528</td>
                <td>1496</td>
            </tr>
            <tr>
                <td>Cleveland Steamers</td>
                <td>6-7</td>
                <td>1510</td>
                <td>1544</td>
            </tr>
            <tr>
                <td>RB1nson runs for Myles</td>
                <td>4-9</td>
                <td>1496</td>
                <td>1606</td>
            </tr>
            <tr>
                <td>Q Manchu</td>
                <td>4-9</td>
                <td>1492</td>
                <td>1665</td>
            </tr>
            <tr>
                <td>BMS Goats</td>
                <td>4-9</td>
                <td>1444</td>
                <td>1636</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Draft Recap</h1>
    <img class="draftimg" src="../../assets/photos/2020_draft.png" />

    <hr>

    <h1>Keepers</h1>
    <table class="championship">
        <tbody>
            <tr>
                <th colspan="2">BMS Goats</th>
                <th colspan="2">There’sADrakeInMyBoot</th>
                <th colspan="2">Calgary Cannon</th>
                <th colspan="2">Q Manchu</th>
                <th colspan="2">Henry’s Bag of Tunyuns</th>
            </tr>
            <tr>
                <td>Josh Jabobs (2nd)</td>
                <td>A.J. Brown (10th)</td>
                <td>Ezekiel Elliott (1st)</td>
                <td>Kenyen Drake (10th)</td>
                <td>Dalvin Cook (1st)</td>
                <td>David Johnson (9th)</td>
                <td>Jarvis Landry (9th)</td>
                <td>Brandin Cooks (10th)</td>
                <td>Derrick Henry (3rd)</td>
                <td>Allen Robinson II (7th)</td>
            </tr>
            <tr>
                <th colspan="2">RB1nson runs for Myles</th>
                <th colspan="2">Cleveland Steamers</th>
                <th colspan="2">ZaneChurchill</th>
                <th colspan="2">Double Chubble</th>
                <th colspan="2">You Christian?</th>
            </tr>
            <tr>
                <td>Saquon Barkley (1st)</td>
                <td>Miles Sanders (3rd)</td>
                <td>Courtland Sutton (11th)</td>
                <td>DK Metcalf (10th)</td>
                <td>DJ Chark Jr. (8th)</td>
                <td>Lamar Jackson (9th)</td>
                <td>Austin Ekler (5th)</td>
                <td>Raheem Mostert (10th)</td>
                <td>Christian McCaffrey (1st)</td>
                <td>Devin Singletary (7th)</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h1>Playoff Recap</h1>
    <p>For the first time since 2016 Nic was not in the finals as Zane and Jaron battled for their first win in the league.
        Unfortunately for Jaron this game was settled after one NFL game. December 25th featured the matchup of the Vikings
        and the Saints. This day will be remembered as <b>"The Karmageddon"</b> as Alvin Karama rushed for 155 yards and <b>6 touchdowns!</b>
        He caught a couple passes to end the day with 54.70 points. Zane never looked back and took home the championship with a score of <b>162.62 - 102.24</b></p>

    <h1>Championship Games</h1>
    <table class="championship">
        <tbody>
            <tr>
                <th colspan="4">Finals</th>
            </tr>
            <tr>
                <td>ZaneChurchill</td>
                <td><b>163.62</b></td>
                <td><b>102.24</b></td>
                <td>Henry’s Bag of Tunyuns</td>
            </tr>
            <tr>
                <th colspan="4">Third Place</th>
            </tr>
            <tr>
                <td>Double Chubble</td>
                <td><b>143.54</b></td>
                <td><b>132.18</b></td>
                <td>There’sADrakeInMyBoot</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>2020 Posts</h2>
    {% for post in site.posts %}
    {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if post_year == "2020" %}
    <ul>
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    </ul>
    {% endif %}
    {% endfor %}
</body>
</html>
