---
layout: page
title: 2020 Season
year: 2020
---

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:"Fira Sans", sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:"Fira Sans", sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-wc04{background-color:#646a71;border-color:#000000;color:#efefef;font-size:18px;
  font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-gmla{border-color:inherit;font-size:16px;text-align:center;vertical-align:top}
</style>

<h1>Standings</h1>
<table class="tg">
<tbody>
  <tr>
    <th class="tg-wc04">Team</th>
    <th class="tg-wc04">Record</th>
    <th class="tg-wc04">Points For</th>
    <th class="tg-wc04">Points Against</th>
  </tr>
  <tr>
    <td class="tg-gmla">ZaneChurchill</td>
    <td class="tg-gmla">9-4</td>
    <td class="tg-gmla">1601</td>
    <td class="tg-gmla">1504</td>
  </tr>
  <tr>
    <td class="tg-gmla">Double Chubble</td>
    <td class="tg-gmla">9-4</td>
    <td class="tg-gmla">1513</td>
    <td class="tg-gmla">1464</td>
  </tr>
  <tr>
    <td class="tg-gmla">Henry’s Bag of Tunyuns</td>
    <td class="tg-gmla">8-5</td>
    <td class="tg-gmla">1663</td>
    <td class="tg-gmla">1427</td>
  </tr>
  <tr>
    <td class="tg-gmla">There’sADrakeInMyBoot</td>
    <td class="tg-gmla">7-6</td>
    <td class="tg-gmla">1683</td>
    <td class="tg-gmla">1725</td>
  </tr>
  <tr>
    <td class="tg-gmla">Killericon</td>
    <td class="tg-gmla">7-6</td>
    <td class="tg-gmla">1624</td>
    <td class="tg-gmla">1486</td>
  </tr>
  <tr>
    <td class="tg-gmla">You Christian?</td>
    <td class="tg-gmla">7-6</td>
    <td class="tg-gmla">1528</td>
    <td class="tg-gmla">1496</td>
  </tr>
  <tr>
    <td class="tg-gmla">Cleveland Steamers</td>
    <td class="tg-gmla">6-7</td>
    <td class="tg-gmla">1510</td>
    <td class="tg-gmla">1544</td>
  </tr>
  <tr>
    <td class="tg-gmla">RB1nson runs for Myles</td>
    <td class="tg-gmla">4-9</td>
    <td class="tg-gmla">1496</td>
    <td class="tg-gmla">1606</td>
  </tr>
  <tr>
    <td class="tg-gmla">Q Manchu</td>
    <td class="tg-gmla">4-9</td>
    <td class="tg-gmla">1492</td>
    <td class="tg-gmla">1665</td>
  </tr>
  <tr>
    <td class="tg-gmla">BMS Goats</td>
    <td class="tg-gmla">4-9</td>
    <td class="tg-gmla">1444</td>
    <td class="tg-gmla">1636</td>
  </tr>
</tbody>
</table>

<h1>Playoff Recap</h1>
<p>For the first time since 2016 Nic was not in the finals as Zane and Jaron battled for their first win in the league.
Unfortunately for Jaron this game was settled after one NFL game. December 25th featured the matchup of the Vikings
and the Saints. This day will be remembered as <b>"The Karmageddon"</b> as Alvin Karama rushed for 155 yards and <b>6 touchdowns!</b>
He caught a couple passes to end the day with 54.70 points. Zane never looked back and took home the championship with a score of <b>162.62 - 102.24</b></p>

<h1>Championship Games</h1>
<table class="tg" style="table-layout: fixed">
<tbody>
    <tr>
      <th class="tg-wc04" colspan="4">Finals</th>
    </tr>
    <tr>
      <td class="tg-gmla">ZaneChurchill</td>
      <td class="tg-gmla"><b>163.62</b></td>
      <td class="tg-gmla">Henry’s Bag of Tunyuns</td>
      <td class="tg-gmla"><b>102.24</b></td>
    </tr>
    <tr>
      <th class="tg-wc04" colspan="4">Third Place</th>
    </tr>
    <tr>
      <td class="tg-gmla">Double Chubble</td>
      <td class="tg-gmla"><b>143.54</b></td>
      <td class="tg-gmla">There’sADrakeInMyBoot</td>
      <td class="tg-gmla"><b>132.18</b></td>
    </tr>
</tbody>
</table>
<br>

<h2>2020 Posts</h2>
{% for post in site.posts %}
    {% capture post_year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if post_year == "2020" %}
        <ul><li><a href="{{ post.url }}">{{ post.title }}</a></li></ul>
    {% endif %}
{% endfor %}
