:root {
  --th-bg-color: #646a71;
  --th-text-color: #efefef;
  --tr-color-primary: #e3e3e5;
  --tr-color-secondary: #d1d2d4;
  --tr-hover-color: #bbbdbf;
}

table.sortable tr {
    text-align: center;
    font-size: 0.85em;
    border-left: 2px ridge grey;
    border-right: 2px ridge grey;
    height: 3em;
}

table.sortable td {
    padding: 0.4em;
}

table.sortable tr:last-child td {
    border-bottom: 2px ridge grey;
}

table.sortable thead {
    background-color: var(--th-bg-color);
    border: 2px ridge grey;
}

table.sortable th {
    table-layout: fixed;
    color: var(--th-text-color);
    text-align: center;
    font-size: 1.1rem;
}

#standings_table, #roster_table th {
    cursor: pointer;
}

#standings_table tbody tr:nth-child(-n+6) {
    background: var(--tr-color-primary);
}

#standings_table tbody tr:nth-child(6) {
    border-bottom: 4px outset grey;
}

#standings_table tbody tr:nth-child(n+7) {
    background: var(--tr-color-secondary);
}

#standings_table tbody tr:hover {
    background-color: var(--tr-hover-color);
}

#roster_table tbody tr:nth-child(2n) td {
    background: var(--tr-color-primary);
}

#roster_table tbody tr:nth-child(2n+1) td {
    background: var(--tr-color-secondary);
}

table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
    content: " ";
    display: inline-flex;
    width: 0.75em;
    height: 0.75em;
}

th.sorttable_sorted::after {
    background: url(https://www.kryogenix.org/code/browser/sorttable/sort_up_green.png);
    background-size: contain;
}

th.sorttable_sorted_reverse::after {
    background: url(https://www.kryogenix.org/code/browser/sorttable/sort_down_green.png);
    background-size: cover;
}
#sorttable_sortfwdind, #sorttable_sortrevind { display: none; }

.championship {
    table-layout: fixed;
    text-align: center;
    border: 2px ridge grey;
    font-size: 0.9rem;
}

.championship th {
    background-color: #b8babd;
    color: black;
    text-align: center;
    border: none;
}

.championship td {
    background: #e3e3e5;
}

.championship tbody tr:nth-child(2) td {
    border-bottom: 2px ridge grey;
}

.championship td:nth-child(2n) {
    border-spacing: 1px;
    border-right: 1px dashed black;
}

img.minilogo {
    border: 2px grey outset;
    max-width: 35px;
}

@media screen and (max-width: 600px) {
    .sortable th {
      font-size: 0.90em;
    }
    .sortable tr {
      font-size: 0.80em;
    }
    .championship th, td {
      font-size: 0.80em;
    }
    .minilogo {
        display: none;
    }
}

img.draftimg {
    background: #F1F1FA;
    width: 100%;
    display: block;
    margin: 10px auto;
    border: 0;
}

@import "{{ site.theme }}";

.inner {
    max-width: 100%;
}
