table.sortable tr {
    text-align: center;
    font-size: 18px;
    border-left: 2px ridge grey;
    border-right: 2px ridge grey;
}

table.sortable tr:last-child td {
    border-bottom: 2px ridge grey;
}

table.sortable thead {
    background-color: #646a71;
    border: 2px ridge grey;
}

table.sortable th {
    table-layout: fixed;
    width: 90px;
    color: #efefef;
    text-align: center;
    font-size: 22px;
}

table.sortable tbody tr:nth-child(2n) td {
    background: #e3e3e5;
}
table.sortable tbody tr:nth-child(2n+1) td {
    background: #b8babd;
}
table.sortable th::after, th.sorttable_sorted::after, th.sorttable_sorted_reverse::after {
    content: " ";
    display: inline-block;
    width: 12px;
    height: 12px;
}

th.sorttable_sorted::after {
    background: url(https://www.kryogenix.org/code/browser/sorttable/sort_up_green.png);
    background-size: contain;
}

th.sorttable_sorted_reverse::after {
    background: url(https://www.kryogenix.org/code/browser/sorttable/sort_down_green.png);
    background-size: cover;
}
#sorttable_sortfwdind, #sorttable_sortrevind { display: none; }

table.championship {
    table-layout: fixed;
    text-align: center;
    border: 2px ridge grey;
}

table.championship tbody tr:nth-child(2n-1) td {
    background-color: #b8babd;
    color: black;
}

table.championship tbody tr:nth-child(2n) td {
    background: #e3e3e5;
}

table.championship tbody tr:nth-child(2) td {
    border-bottom: 2px ridge grey;
}

table.championship tbody td: {
    border-right: 2px ridge grey;
}

@media screen and (max-width: 600px) {
    table.sortable th {
      font-size: 14px;
    }
    table.sortable tr {
      font-size: 12px;
    }
    table.championship td {
      font-size: 10px;
    }
}

.img draftimg {
    background: #F1F1FA;
    width: 100%;
    display: block;
    margin: 10px auto;
    border: 0;
}

@import "{{ site.theme }}";

.inner {
    max-width: 100%;
}
